body {
    font-family: 'Lab Grotesque', 'Arial', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    width: 90%;
    max-width: 1200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.centered-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.highlight {
    color: #00bfa5;
}

.inline-form {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.inline-form label {
    margin-right: 10px;
}

.inline-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.inline-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 105px;
}

.inline-form button:hover {
    background-color: #009688;
}

.controls {
    margin-top: 20px;
}

.filter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-sort-order {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-grow: 1;
}

.filter-group label {
    font-size: 14px;
    color: #666;
}

.filter-group select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.search-group {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-group label {
    font-size: 14px;
    color: #666;
}

.search-group input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-group button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #00bfa5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 105px;
}

.search-group button:hover {
    background-color: #009688;
}

.file-preview {
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.preview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.text-preview {
    flex-grow: 1;
    text-align: left;
    margin-top: 20px;
}

.download-button,
.download-selected-button {
    background-color: #00bfa5;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.download-button:hover,
.download-selected-button:hover {
    background-color: #009688;
}

#preview-container img,
#preview-container video,
#preview-container audio {
    width: 100%;
}

.file-preview iframe,
.file-preview video,
.file-preview audio,
.file-preview .text-view {
    max-width: 100%;
    overflow: auto;
}

.file-list {
    text-align: left;
    margin-top: 20px;
}

.file-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.file-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.file-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s;
}

.file-list li:hover {
    background-color: #f5f5f5;
}

.file-list a {
    text-decoration: none;
    color: #007bff;
    flex-grow: 1;
}

.file-list a:hover {
    text-decoration: underline;
}

.file-list .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
    text-align: center;
}

.footer a {
    color: #00bfa5;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.text-view {
    text-align: left;
    margin-top: 20px;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 100%;
    overflow: auto;
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    z-index: 1000;
    opacity: 0.9;
    font-size: 16px;
}

.notification.error {
    background-color: #f44336;
}

.notification.success {
    background-color: #4CAF50;
}

/* Медиазапросы для адаптации под разные экраны */
@media (max-width: 1200px) {
    .container {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .filter-sort-order {
        flex-direction: column;
    }

    .search-group {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: inherit;
    }

    .file-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .preview-header {
        flex-direction: column;
        align-items: normal;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .centered-title {
        font-size: 20px;
    }

    .inline-form button {
        width: 100%;
    }

    .filter-group select,
    .search-group input[type="text"],
    .search-group button {
        width: 100%;
    }

    .file-list li {
        padding: 5px;
    }
}

@media (max-width: 576px) {
    .centered-title {
        font-size: 18px;
    }

    .inline-form label,
    .filter-group label,
    .search-group label {
        font-size: 12px;
    }

    .inline-form input[type="text"],
    .filter-group select,
    .search-group input[type="text"],
    .search-group button {
        font-size: 12px;
        padding: 5px;
    }

    .download-button,
    .download-selected-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}