{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>UnDisk</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.21.0/docxtemplater.min.js"></script>
    <script src="{% static 'js/preview.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1>UnDisk</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Открыть</button>
        </form>
        {% if files %}
        {% if preview_content %}
        <div class="file-preview">
            <h2>Предпросмотр файла</h2>
            <div id="preview-container">{{ preview_content|safe }}</div>
        </div>
        {% endif %}
        <div class="file-list">
            <h2>Список файлов</h2>
            <ul>
                {% for file in files %}
                    <li>
                        {% if file.type == 'dir' %}
                            <img src="{% static 'icons/folder.png' %}" alt="Folder" class="icon">
                            <a href="?public_key={{ public_key }}&path={{ file.path|urlencode }}">{{ file.name }}</a>
                        {% elif file.type == 'file' %}
                            <img src="{% static 'icons/file.png' %}" alt="File" class="icon">
                            <a href="?public_key={{ public_key }}&path={{ path|urlencode }}&preview_path={{ file.path|urlencode }}">{{ file.name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="footer">
        <p>Yandex Disk Viewer - это веб-приложение на Django, которое позволяет пользователям просматривать и загружать файлы с Яндекс.Диска по публичной ссылке.</p>
        <p>Сделано с <span style="color: red;">❤</span> anxnas</p>
    </div>
</body>
</html>