{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>UnDisk</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>UnDisk</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Открыть</button>
        </form>
        {% if files %}
        <div class="file-list">
            <h2>Список файлов</h2>
            <ul>
                {% for file in files %}
                    <li>
                        {% if file.type == 'dir' %}
                            <img src="{% static 'icons/folder.png' %}" alt="Folder" class="icon">
                        {% elif file.type == 'file' %}
                            <img src="{% static 'icons/file.png' %}" alt="File" class="icon">
                        {% endif %}
                        {{ file.name }}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="footer">
        <p>Yandex Disk Viewer - это веб-приложение на Django, которое позволяет пользователям просматривать и загружать файлы с Яндекс.Диска по публичной ссылке.</p>
        <p>Сделано с <span style="color: red;">❤</span> annxas</p>
    </div>
</body>
</html>